{% extends 'basetwo.html' %}

{% block content %}
    {% load static %}
    
    <main id="main">

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>We'd love to hear from you! Whether you have questions, feedback, or business inquiries, feel free to reach out to us. Our team is here to help and support you as you explore the possibilities of our AI Text-to-Image application. Connect with us and let's create something amazing together.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Casablanca - HAY SIDI MAAROUF,  20520.</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>contact@GoFly.tech</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+212 608040500</p>
              </div>
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-lg-6 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/place/Alpha+Business+Center+Sidi+Maarouf+(ABC)/@33.520055,-7.6378412,17z/data=!3m1!4b1!4m6!3m5!1s0xda62d899b13ce9b:0x7aea755e8b6a1cba!8m2!3d33.520055!4d-7.6352609!16s%2Fg%2F11nyrrzxs3?entry=ttu" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="{% static 'forms/contact.php' %}" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>
              Welcome to our Frequently Asked Questions (FAQ) section. Here, we have compiled a list of common questions and answers to help you make the most of our AI Text-to-Image application. Whether you're just getting started or looking for specific information, you'll find helpful insights and solutions below.
            </p>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is the AI Text-to-Image application? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    Our AI Text-to-Image application allows users to transform textual descriptions into high-quality images using advanced artificial intelligence models. Simply input a description, and our AI generates a visual representation based on your input.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How do I use the application? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Using our application is straightforward: <br>
                      <br>
                      1 Enter a descriptive text prompt in the provided text box. <br>
                      2 Click the "Generate" button. <br>
                      3 The AI will process your input and display the generated image. <br>
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Who can use this application?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Our application is designed for everyone! Whether you are an artist, content creator, marketer, or just someone with a creative idea, our tool is here to help you bring your concepts to life.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Do I need any special hardware to use the application?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    No special hardware is required. Our application runs on standard computer systems. However, please note that the image generation process might be faster on systems with higher performance, especially those with a dedicated GPU.
                  </p>
                    
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What if my image takes too long to generate? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Image generation times can vary depending on the complexity of the input and the hardware used. If it takes too long, try using a simpler prompt or consider upgrading your hardware for better performance.
                  </p>
                </div>
              </li>
  
            </ul>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->

    </main>


  {% endblock %}