{% extends 'basetree.html' %}

{% block content %}
    {% load static %}
    <main id="main">
      <h1 style=" font-weight: bold;text-align: center;margin-left: 10%; margin-right: 10%;">Ai Image Generator</h1>
      <form  method="POST">
        {% csrf_token %}
        <div class="erea">
          <textarea placeholder="Enter your text here..." name="prompt" id="prompt" type="text"></textarea>
        </div>
        <div class="erea">
          <body>
            <button id="generateBtn" type="submit" name="generateBtn" style="
                background-color: #6a0dad;
                color: white;
                border: none;
                padding: 15px 30px;
                font-size: 16px;
                cursor: pointer;
                border-radius: 5px;
                transition: background-color 0.3s, transform 0.3s;
            " 
            onmouseover="this.style.backgroundColor='#7a0fff'; this.style.transform='scale(1.05)';" 
            onmouseout="this.style.backgroundColor='#6a0dad'; this.style.transform='scale(1)';" 
            onmousedown="this.style.backgroundColor='#5a00cc'; this.style.transform='scale(0.95)';" 
            onmouseup="this.style.backgroundColor='#7a0fff'; this.style.transform='scale(1.05)';">
                Generate
            </button>
        </div>
  
        
      </form>
      {% if image_data %}
        <div class="erea">
            <img src="data:image/png;base64,{{ image_data }}" alt="Generated Image">
        </div>
      {% endif %}
    </main><!-- End #main -->


  {% endblock %}